/* CSS */

body{
	font-family: arial;
	text-align: center;
	color: #8C2F5E;
}

/* Texto */
h1	{
	font-size: 60pt;
	background-color: #00ffff;
	padding: 30px;
	margin: 60px;
	text-align: center;
	color: #8C2F5E;
	width: 400px;
}

.destaque{
	font-size: 45px;
	font-weight: 200;
	text-align: left;
}

.pequeno{
	font-size: 10px;
	text-align: right;
}