html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	font-family: OpenSans-Bold;
	color: #205D76;
	background-color:#FAF8DA;	
	font-size: 16.0938px ;	
	text-align: center; 
}

h1{
	font-family: OpenSans-Semibold;
	margin-right: 3%;
	color: #205D76;
	background-color:#FAF8DA;	
	font-size: 8.9702px ;	
}
h2	{
	font-family: OpenSans-Semibold;
	font-size: 8.9702px ;
	text-align: center;
}

ul{
	font-family: OpenSans;
	font-size: 5.5496px ;	
	color: #EA6E2F;
	text-align: left;
	margin-left: 0%;
    margin-right: 0%;

}

li{

	font-family: OpenSans;
	font-size: 5.5496px ;	
	color: #EA6E2F;
	text-align: left;
	margin-left: 40%;
    margin-right: 10%;
}



div{
	width: 100px;
    height: 60px;
    display: inline-block;

}

footer{
	background-color: #FFC122;
	text-align: center;

	bottom: 0;
	height: 10px;
}

p{
	text-align: center;
	color: #FAF8DA;
	font-size: 4.9430px ;	
  	width: auto;
  	height: 10px;


}


.container img {
    max-width:200px;
    max-height:100px;
    width: 200px;
    height: 200px;

}

.container2 img {
    max-width:10px;
    max-height:50px;
    width: 50px;
    height: 50px;
    margin-left: 80%;
    margin-right: 10%; 
	max-width: 50px;
	margin-bottom: 0%;

}

.container3 img {
    max-width:100px;
    max-height:100px;
    width: 100px;
    height: 100px;
    margin-left: 0%;
    margin-right: 30%; 
    margin-bottom: 0%;

}





